<aside title="Explore the map" class="sidebar sidebar-left" data-state="not-active">
  <button aria-label="Toggle the left sidebar" class="js-toggle-sidebar toggle-sidebar material-icons" data-target="sidebar-left">chevron_right</button>
  <div class="inner">
    <article>
      <h2 class="title">Explore the map</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, eius assumenda. Perferendis eligendi commodi dolorem numquam, ipsam iste corrupti totam!</p>
    </article>
    <table class="js-adjust-map map-key">
      <tr>
        <td>
          <%- include('../../atoms/checkbox.ejs', {name: 'Stores', slug: 'markers', color: 'rgba(0,0,0,0.25)', checked: 'checked'}) %>
        </td>
        <td>
          <%- //include('../../atoms/marker.ejs', {color: 'rgba(0,0,0,0.25)'}) %>
        </td>
      </tr>
      <tr>
        <td>
          <%- include('../../atoms/checkbox.ejs', {name: 'Franchise Territories', slug: 'boundaries', color: 'rgba(0,0,0,0.25)', checked: null}) %>
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
      <% for( var i = 0; i < parseInt(locals.statusNames.length, 10); i++) { %>
        <tr style="display: none;">
          <td style="border-bottom-color: <%= locals.statusColors[i] %>;">
            <%- include('../../atoms/checkbox.ejs', {
                name: locals.statusNames[i], 
                slug: locals.statusNames[i].toLowerCase().replace(/ /g, '-'), 
                color: locals.statusColors[i], 
                checked: null}) %>
          </td>
          <td style="border-bottom-color: <%= locals.statusColors[i] %>;">
            <%- include('../../atoms/marker.ejs', {color: locals.statusColors[i]}) %>
          </td>
        </tr>
      <% } %>
    </table>
    <div class="sidebar_footer">
      
    </div>
  </div>
</aside>